/* UserArea */
.UserArea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 400px;
}

.chat-contaienr {
    width: 100%;
    height: 100%;
    position: relative;

    padding-top: 70px;
    padding-bottom: 70px;
}

.aside-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.UserAction {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2f9eda;
    align-items: center;
}
.user_Info{
    padding: 10px 0px;
}